// Colors
$primary-100: #ff8a00;
$primary-80: #ffa133;
$primary-60: #ffb966;
$primary-40: #ffd099;
$primary-20: #ffe8cc;
$green-100: #27c686;
$green-80: #52d19e;
$green-60: #7dddb6;
$green-40: #a9e8cf;
$green-20: #d4f4e7;
$blue-100: #309dd1;
$blue-80: #59b1da;
$blue-60: #83c4e3;
$blue-40: #acd8ed;
$blue-20: #d6ebf6;
$red-100: #ff5f3d;
$red-80: #ff7f64;
$red-60: #ff9f8b;
$red-40: #ffbfb1;
$red-20: #ffdfd8;
$grey-100: #393e46;
$grey-80: #61656b;
$grey-60: #888b90;
$grey-40: #b0b2b5;
$grey-20: #d7d8da;
$light-grey-100: #e4e4e4;
$light-grey-80: #e9e9e9;
$light-grey-60: #efefef;
$lighter-grey-100: #f2f2f2;
$lighter-grey-60: #f7f7f7;
$lighter-grey-40: #fafafa;
$white-100: #fff;
$white-80: rgba(255, 255, 255, 0.8);
$white-60: rgba(255, 255, 255, 0.6);
$white-20: rgba(255, 255, 255, 0.2);
$black-60: rgba(0, 0, 0, 0.6);
$black-40: rgba(0, 0, 0, 0.4);
$black-20: rgba(0, 0, 0, 0.2);
$dark: #222831;